#{extends 'main.html' /}

#{if comentario}
	#{set title:'Edição de Comentário' /}
#{/if}
#{else}
	#{set title:'Cadastro de Comentário' /}
#{/else}

<!-- Page Header-->
       <header class="masthead" style="background-image: url('${noticia.caminhoImagem}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 style="color: rgb(118, 227, 9);">${noticia.titulo}</h1>
                            <span class="subheading" style="color: rgb(118, 227, 9);">${noticia.conteudo.split('\\s+').take(8).join(' ')}... - ${noticia.dataPublicacao?.format("dd/MM/yyyy")}</span>
                        </div>
                    </div>
                </div>
            </div>
      </header>
<div class="container">

<p style="text-align: justify;">${noticia.conteudo} </p>
	
	#{if flash.success}
	    <div class="alert alert-success alert-dismissible fade show" role="alert">
	        ${flash.success}
	    </div>
	#{/if}

	#{if flash.error}
	    <div class="alert alert-danger alert-dismissible fade show" role="alert">
	        ${flash.error}
	    </div>
	#{/if}
	
	#{if comentario}
	<h3 style="color:#6a0dad">Edição de Comentário</h3>
	#{/if}
	#{else}
	<h3 style="color:#6a0dad">Cadastro de Comentário</h3>
	#{/else}
	</br>

<form action="@{Comentarios.salvar}" method="POST"> 
	    <input type="hidden" name="comentario.id" value="${comentario?.id}" />
		<input type="hidden" name="comentario.noticia.id" value="${noticia?.id}" />
							
		<label class="form-label">Conteúdo: </label>
		<input type="text" class="form-control" name="comentario.conteudo" value="${comentario?.conteudo}" />
		 </br>
		<input type="submit" class="btn btn-light" value="${comentario ? 'Editar':'Cadastrar'}" />
		 
</form>
<div class="container">
</br>
