#{extends 'main.html' /}
#{set title:'Últimas Notícias' /}


<h1>Últimas Notícias</h1>

    <div class="noticia">
      <h3>  <a href="/comentarios/form?noticiaId=1">Nova Olimpíada de Matemática</a> </h3>
        <p class="resumo">Este é um pequeno trecho da notícia 1, apenas um resumo curto...</p>
    </div>
</br>
    <div class="noticia">
      <h3> <a href="/comentarios/form?noticiaId=2">Oficina de Dobraduras</a> </h3>
        <p class="resumo">Esta notícia fala sobre um evento importante que aconteceu recentemente...</p>
    </div>
