#{extends 'main2.html' /}
#{set title:'Login' /}


<div class="container">
	
	<div class="login-box row g-0">
	  <!-- Imagem à esquerda -->
	  <div class="col-md-6 d-flex align-items-center justify-content-center login-image">
	    <img src="@{'/public/images/logo-ompa.png'}" alt="Login Icon">
	  </div>
	  
	  <div class="col-md-6 px-4">
	      <h4 class="mb-4 text-center fw-bold">Login</h4>
								
								#{if flash.success}
									    <div class="alert alert-success alert-dismissible fade show" role="alert">
									        ${flash.success}
									    </div>
									#{/if}

									#{if flash.error}
									    <div class="alert alert-danger alert-dismissible fade show" role="alert">
									        ${flash.error}
									    </div>
									#{/if}
<form action="@{Logins.logar}" method="post"> 
		
	<div class="mb-3">
		<label class="form-label" >Email:  </label>
		<input type="email" class="form-control" name="email" required/>
		</div>
		
		<div class="mb-3">
		<label class="form-label">Senha: </label>
		<input type="password" class="form-control" name="senha" required/>
		</div>

		<div class="d-grid mb-3">
		        <button type="submit" class="btn btn-login">LOGAR</button>
		      </div>
			  <div class="text-center login-footer">
			         <small><a href="#">Forgot Username / Password?</a></small>
			       </div>
			       <div class="text-center login-footer mt-3">
			         <small><a href="#">Create your Account →</a></small>
			       </div>

		 
</form>

</div>
</div>

</br>

