#{extends 'main2.html' /}
#{set title:'Login' /}

<div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">Bem-vindo de Volta!</h2>
                <p class="description description-primary">Para continuar logado conosco</p>
                <p class="description description-primary"> use suas informações pessoais e acesse sua conta</p>
                <button id="signin" class="btn btn-primary">entrar</button>
            </div>    
            <div class="second-column">
                <h2 class="title title-second">Nova conta</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-facebook-f"></i>        
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div><!-- social media -->
                <p class="description description-second">ou use seu email para entrar:</p>
				
				<div>
							
														#{if flash.success}
															    <div class="alert alert-success alert-dismissible fade show" role="alert">
															        ${flash.success}
															    </div>
															#{/if}

															#{if flash.error}
															    <div class="alert alert-danger alert-dismissible fade show" role="alert">
															        ${flash.error}
															    </div>
															#{/if}
														</div>															
		
														<!--#{ifErrors}
		<p>Ops...</p>
		#{errors}
		<span class="error"> ${error.key} - ${error} </span>
		#{/errors}
		#{/ifErrors}
		-->	

		
		<!--Colocar só o assunto.put no editar para recuperar o assunto quando houver um erro de validação-->
		
                <form action="@{Usuarios.salvar}" method="post" class="form">
                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify"></i>
                        <input type="text" name="usuario.nome" placeholder="Name" value="${flash['usuario.nome']}">
                    </label>
					<span class="erros"> #{error 'usuario.nome'/} </span>
                    
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email" name="usuario.email"  placeholder="Email" value="${flash['usuario.email']}">
                    </label>
					<span class="erros"> #{error 'usuario.email'/} </span>
                    
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" name="usuario.senha"  placeholder="Password" value="${flash['usuario.senha']}">
                    </label>
					<span class="erros"> #{error 'usuario.senha'/} </span>
                    
                    <button class="btn btn-second">Entrar</button>        
                </form>
            </div><!-- second column -->
        </div><!-- first content -->
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">Olá, Estudante!</h2>
                <p class="description description-primary">Insira seus dados pessoais</p>
                <p class="description description-primary">e comece sua jornada no OMPA</p>
                <button id="signup" class="btn btn-primary">Iniciar</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Login</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-facebook-f"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div><!-- social media -->
                <p class="description description-second">ou use seu email para entrar:</p>
                <form action="@{Logins.logar}" method="post" class="form">
                
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email" name="email" placeholder="Email" value="${flash['email']}" required>
						<span class="erros"> #{error 'email'/} </span>
	
                    </label>
                
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" name="senha" placeholder="Password" value="${flash['senha']}" required>
						<span class="erros"> #{error 'senha'/} </span>
                    </label>
                
                    <a class="password" href="#">Esqueceu sua senha?</a>
                    <button class="btn btn-second">Logar</button>
                </form>
            </div><!-- second column -->
        </div><!-- second-content -->
    </div>

	
	<!--Perguntar a Lucas da validação no Login-->
	
	



