#{extends 'main.html' /}

#{if n}
	#{set title:'Edição de Notícia' /}
#{/if}
#{else}
	#{set title:'Cadastro de Notícia' /}
#{/else}

<!-- Page Header-->
       <header class="masthead" style="background-image: url(@{'/public/startbootstrap-clean-blog-gh-pages/assets/img/home-bg.jpg'})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
							#{if n}
                                <h1 style="color: rgb(118, 227, 9);">Edição de Notícia</h1>
							#{/if}
							#{else}
							<h1 style="color: rgb(118, 227, 9);">Cadastro de Notícia</h1>
							#{/else}
                            <span class="subheading" style="color: rgb(118, 227, 9);">Fique por dentro do universo olímpico da matemática!</span>
                        </div>
                    </div>
                </div>
            </div>
      </header>

<div class="container">

<form action="@{Noticias.salvar}" method="post" enctype="multipart/form-data"> 
		<input type="hidden" name="noticia.id" value="${n?.id}" />
		
		<label class="form-label">Título: </label>
		<input type="text" class="form-control" name="noticia.titulo" value="${flash['noticia.titulo'] ? flash['noticia.titulo'] : n?.titulo}"/>
		
				<span class="erros"> #{error 'noticia.titulo'/} </span>
		</br>
		
		<div class="mb-3">
				<label class="form-label">Assunto:</label>
				<select class="form-select" name="noticia.assunto.id">
					#{list items:assuntos, as:'a'}
						<option value="${a.id}" 
							${a.id == n?.assunto?.id ? 'selected' : ''}>
								${a.titulo}
						</option>
					#{/list}
				</select>
				<span class="erros"> #{error 'noticia.assunto.id'/} </span>
		</div>
			
	<!--Lidar com value="${flash['imagemCapa'] ? flash['noticia.titulo'] : n?.titulo}" e ver se precisa ser CaminhoImagem-->
		<label class="form-label">Imagem de capa:</label>
		<input type="file" class="form-control" name="imagemCapa" accept="image/*" required/>
		</br>   
			   
		<div class="form-floating">
		  <textarea class="form-control" name="noticia.conteudo" id="floatingTextarea">${flash['noticia.conteudo'] ? flash['noticia.conteudo'] : n?.conteudo}</textarea>
		  <label for="floatingTextarea">Conteúdo</label>
		  <span class="erros"> #{error 'noticia.conteudo'/} </span>
	  </div>
		</br>
		
		<input type="submit" class="btn btn-primary" value="${n ? 'Editar':'Cadastrar'}" />

		 
</form>

</div>
</br>

