<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
		<link rel="stylesheet" href="@{'/public/stylesheets/login.css'}">
		<!DOCTYPE html>
		<html lang="pt-br">
		<head>
		  <meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		  		    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		  		        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		  <title>Login</title>
		  
        #{get 'moreStyles' /}
       
    </head>
    <body>
    
        #{doLayout /}
      
		<script src="@{'/public/javascripts/login.js'}"></script>
		#{get 'moreScripts' /}
    </body>
</html>
